.main-footer-box {
    background-color: whitesmoke;
    height: auto;
    padding:2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #112240;

}

.logo-college {
    height: 7rem;
    width: 7rem;
}

.college-name {
    color: #FFFFFF;
    margin-top: 16px;
    font-family: Calibri;
    font-size: 2rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 32px;
    flex-wrap: wrap;
    line-height: 2rem;


}

.social-info {
    font-family: Calibri;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #00FFD1;
     

}

.logos-social-media{
    display: flex;
    margin-top: 32px;
    flex-direction: row;
    gap:32px;
    align-items: center;
}

